* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

.list-tasks li {
  margin: 20px 30px;
}

.list-tasks a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.list-tasks a:hover {
  color: blue;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  margin: 24px auto;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
}

.btn-home {
  text-decoration: none;
  font-size: 24px;
  border-radius: 4px;
  background-color: aquamarine;
  color: black;
  padding: 15px;
  margin: 10px auto;
  display: block;
  max-width: 135px;
  text-align: center;
}

.btn-home:hover {
  background-color: blueviolet;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  margin: 24px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
}

.feedback-form input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}
.feedback-form textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  height: 80px;
  resize: none;
  padding: 8px 16px;
}

.feedback-form button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  border: none;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 8px;
  cursor: pointer;
}

.feedback-form button:hover {
  background: #6c8cff;
}
